.header_container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
     border-radius: 30px;
    height: 300px;
    background-color: antiquewhite;
 
}

body{
    margin: 10px;
    height: 100%;
    background-image: 
url('../img/Persian-Art.jpg');;

}
 
@font-face {
    font-family: Gandom;
    src: url('../font/Gandom-WOL.eot');
    src: url('../font/Gandom-WOL.eot') format('embedded-opentype'),
         url('../font/Gandom-WOL.woff') format('woff'),
         url('../font/Gandom-WOL.ttf') format('ttf');
    font-weight: bold;
  }
  
  @font-face {
    font-family:IranNastaliq;
    font-style: normal;
    font-weight: bold;
    src: url('../font/IranNastaliq.ttf') format('ttf');
    src: url('../font/IranNastaliq.ttf') ;
   
   }
   @font-face {
    font-family: 'Neirizi';
    font-style: normal;
    font-weight: bold;
    src: url('../font/Neirizi font.ttf') format('ttf');
    src:url('../font/Neirizi font.ttf')  format('truetype');
   
   }
.text{
font-family:  'Neirizi';
font-size: 20px;
color: rgb(4, 4, 4);
text-align: center;
word-spacing: 0.2px;
 

}
.column {
    font-family:  'Neirizi';
    flex: 33.33%;
    height: 300px;
    padding: 15px;
    margin: 5px;
    background-color: #ee8989;
    text-align: center;
    color: rgb(8, 12, 17);
    border-radius: 30px;
    
  }
  .container {
     display: flex;
     
  }