body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(5, 42, 56, 0.5), rgba(1, 12, 56, 0.6)),
      url('../img/ipU4VIPuKSMXZtvYoayB765.jpeg');;
  }

  @font-face {
    font-family: 'Neirizi';
    font-style: normal;
    font-weight: bold;
    src: url('../font/Neirizi font.ttf') format('ttf');
    src:url('../font/Neirizi font.ttf')  format('truetype');
   
   }
.center{
 display: flex;
 position: absolute;
 top:50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.loading{
 width: 200px;
 height: 200px;
 border: 5px solid #e8e8e8;
 border-radius: 50%;
 border-bottom: 5px solid #e49823;
 animation: anim 2s linear infinite;
}

.loading:after{
 content: '';
 position: absolute;
 top:20%;
 left: 20%;
 right: 20%;
 bottom: 20%;
 border: 5px solid #e8e8e8;
 border-radius: 50%;
 border-bottom: 5px solid #e41a7a;
 animation: anim 2s linear infinite;
 
}
@keyframes anim {
0%{
  transform: rotate(0deg);
}
100%{
  transform: rotate(360deg);
}
}

.title{
  color: aliceblue;
  text-align: center;
  font-family: 'Neirizi';
}