body{
margin: 25px;
height: 100%;

padding: 10px 10px 10px 10px;
background-image:  linear-gradient(rgba(5, 42, 56, 0.5), rgba(1, 12, 56, 0.6)),
url('../img/art3.jpg') ;
}

about-box {
    display: grid;
    
  }
  .main{
    background-color: aliceblue;
    margin: 10px;
  }
  .home_page{
    display: flex;
    justify-content: start;
  }
  
  @font-face {
    font-family:IranNastaliq;
    font-style: normal;
    font-weight: bold;
    src: url('../font/IranNastaliq.ttf') format('ttf');
    src: url('../font/IranNastaliq.ttf') ;
   
   }
   @font-face {
    font-family: 'Neirizi';
    font-style: normal;
    font-weight: bold;
    src: url('../font/Neirizi font.ttf') format('ttf');
    src:url('../font/Neirizi font.ttf')  format('truetype');
   
   }

  
  @font-face {
    font-family: Gandom;
    src: url('../font/Gandom-WOL.eot');
    src: url('../font/Gandom-WOL.eot') format('embedded-opentype'),
         url('../font/Gandom-WOL.woff') format('woff'),
         url('../font/Gandom-WOL.ttf') format('ttf');
    font-weight: bold;
  }
  .about_text{
    font-family: IranNastaliq;
    position: relative;
    text-align: end;
    margin-left: 600px;
    font-size: 30px;
    height: 120PX;
    color: #ffff;
    margin-top: 100px;
    word-spacing: 0.2em;
    padding: 5px;
 
    text-transform: capitalize;
    /* text-shadow: -2px -2px 0 rgb(26, 30, 237), 2px -2px 0 rgb(19, 23, 236), -2px 2px 0 rgb(16, 20, 247), 2px 2px 0 rgb(22, 25, 229); */
  }
  .about-box__heading {
   
  
  }
  .about-box__content {

    height: 400px;
    margin: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: IranNastaliq;
    
    background-image: linear-gradient(rgba(5, 42, 56, 0.5), rgba(1, 12, 56, 0.6)),
      url('../img/azadi.jpg');;
  }
  .about_text_title{
    text-align: center;
    color: #023c88;
    font-family: IranNastaliq;
    font-size: 60px;
    background-color: aliceblue;
  }

  .main_title{
    font-family: 'Neirizi';
    margin-right: 5px;
  }

  .paraghraph{
    font-family: Gandom;
    font-size: 20px;
    margin: 10px;
  }
  .one_image_group{
    display: flex;
    justify-content: center;
    gap: 20px;
  
 
  }
  .img3{
    height: 400px;
    width: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 400px;
    border-radius: 8px;
    
    
  }
  .title{
    font-family: Gandom;
    font-size: 17px;
    font-weight: 200px;
    color:#023c88 ;
    margin-right: 5px;

  }

  .section-footer {
    background-color:  #023c88;
    padding:clamp(4rem, 0vw, 0rem) 0rem;
    margin-top: 100px;
  }

   
  .newsletter__title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    font-family: Neirizi;
    text-align: center;
    color:#ffff;
  }
  
  .newsletter__text {
    margin-bottom: 1.6rem;
  
  }
  
  .newsletter__input {
    position: relative;
  }
  .btn{
    margin-top: 50px;
    width: 150px;
    position: relative;
    text-align: center;
    font-size: large;
    margin-right: 650px;
    margin-bottom: 30px;
  }

  .btn:hover{
    background-color: #023c88;
    color:#ffff;
  }
 